<h1>New Application:</h1>

<ul>
    <li>App number: {{ applicationMainData.applicationNumber }}</li>
{#    <li>Email: {{ user.email }}</li>#}
{#    <li>First name: {{ user.firstName }}</li>#}
{#    <li>Last name: {{ user.lastName }}</li>#}
    <li>Address: {{ applicationMainData.address }}</li>
</ul>

<h2><a href="{{ proposalUrl }}">Add proposal</a></h2>